{% extends "layout.html" %}
{% block body %}

		<div class="bs-example" id="myTabs">
			<ul class="nav nav-tabs">
				<li><a href="#panel-sim" data-toggle="tab">Simulator</a></li>
				<li><a href="#panel-val" data-toggle="tab">Validator</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="panel-sim">
					<h3>Genetic Simulator</h3>
					{% include "simulator.html" %}

				</div>
				<div class="tab-pane fade" id="panel-val">
					<h3>Genetic Map Validator</h3>
					{% include "validator.html" %}

				</div>
			</div>
		</div>		

{% endblock %}
