{% extends "layout.html" %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form class="form-horizontal" action="{{ url_for('index') }}" role="form" method="POST">
				<div class="form-group">
					 <label for="quantity" class="col-sm-4 control-label">Chromosome Quantity:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="quantity1" name="quantity_id" placeholder="4"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="size" class="col-sm-4 control-label">Chromosome Size:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="size1" name="size_id" placeholder="2500"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="size" class="col-sm-4 control-label">Ploidy:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="ploidy1" name="ploidy_id" placeholder="2" />
					</div>
				</div>
				<div class="form-group">
					 <label for="osize" class="col-sm-4 control-label">Offspring Size:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="off1" name="off_id" placeholder="200"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="percent" class="col-sm-4 control-label">Empty Data Percentage:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="p_null" name="p_null_id" placeholder="5"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-2">
						 <button type="submit" class="btn btn-default" >Generate</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



{% endblock %}

