{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<form class="form-horizontal" action="{{ url_for('simulator') }}" role="form" method="POST">
				<div class="form-group">
					 <label for="quantity" class="col-sm-4 control-label">Chromosome Quantity:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="quantity1" name="quantity_id" placeholder="1"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="size" class="col-sm-4 control-label">Chromosome Size:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="size1" name="size_id" placeholder="1"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="osize" class="col-sm-4 control-label">Population Size:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="off1" name="off_id" placeholder="10"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="mqua" class="col-sm-4 control-label">Markers Quantity:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="mark1" name="mark_id" placeholder="20"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="size" class="col-sm-4 control-label">Ploidy:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="ploidy1" name="ploidy_id" placeholder="2" />
					</div>
				</div>
				<div class="form-group">
					 <label for="rec_rate" class="col-sm-4 control-label">Recombination Rate:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="r_rate" name="r_rate_id" placeholder="0.1"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="mut_rate" class="col-sm-4 control-label">Mutation Rate:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="m_rate" name="m_rate_id" placeholder="0.0001"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="err_rate" class="col-sm-4 control-label">Error Rate:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="e_rate" name="e_rate_id" placeholder="10"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="seed" class="col-sm-4 control-label">Seed:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="seed_id" name="s_id" placeholder="2154"/>
					</div>
				</div>
			</div>
				<div class="col-md-6 column">
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<p>Generate Formats for: </p>
							 <div class="checkbox">
								 <label><input type="checkbox" name="mapdisto_id"/> MapDisto </label>
							 </div>		
							 <div class="checkbox">
								 <label><input type="checkbox" name="onemap_id"/> OneMap </label>
							 </div>	
							 <div class="checkbox">
								 <label><input type="checkbox" name="mstmap_id"/> MSTMap </label>
							 </div>	
											
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-2">
							 <input type="submit" class="btn btn-default" name="btn-sim" value="Simulate" />
						</div>
					</div>
			</form>
		</div>
	</div>
</div>



{% endblock %}

